# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\AhmedNabil\Desktop\Udemy - Full Stack Angular and Spring Boot 2020-10\workspace\ecommerce-project\02- backend\spring-boot-ecommerce\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
